<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Thinkful Tube</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" />
  <link type="text/css" href="../css/grid.css" rel='stylesheet' />
  <link type="text/css" href="../css/main.css" rel='stylesheet' />
</head>
<body>
  <header role="banner">
    <h1>Search for Videos on YouTube</h1>
  </header> 

  <main role="main" >
      <form action="#" class="js-search-form" name="Youtube-Search">
          <label for="searchTerm">Search Term:</label>
          <input type="text" class="js-query" id="searchTerm" aria-label="Enter Search Term" autocomplete="off">
          <button type="submit" aria-pressed="false" role="button">Search Videos</button>
        </form>
      <div class="js-search-results" aria-live="assertive" aria-relevant="additions" aria-atomic="true" hidden></div>
  </main>  

  <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script type='text/javascript' src='js/index.js'></script>
</body>

</html>